.sales-tax__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.title {
    font-size: 18px;
    margin-left: 20px;
}

.item__container, .title__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3px 20px;
}

.display__container, .result__container {
    width: 79%;
    margin-left:20px;
}

.add-btn, .submit_btn, .clear-btn {
    margin: 10px 0;
}

.clear-btn {
    margin-left: 5px;
}

.item {
    display: inline-block;
    width: 20%;
}

.number__input,
.price_input {
    width: 95%;
}

.product__select {
    width: 90%;
}
